<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Médica del Paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Ficha Médica</h1>
    <p>Nombre: {{ paciente.nombre }}</p>
    <p>Edad: {{ paciente.edad }}</p>
    <p>Historial médico: {{ paciente.historial }}</p>
    <a href="{{ url_for('panel_usuario') }}">Volver al panel de paciente</a>
</body>
</html>
