<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Secretaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Panel de Secretaria</h1>
    <ul>
        <li><a href="{{ url_for('ingresar_datos_paciente') }}">Ingresar Datos de Paciente</a></li>
        <li><a href="{{ url_for('gestionar_turnos') }}">Gestionar Turnos</a></li>
        <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
    </ul>
</body>
</html>
